<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>  
	
	<bean id="stateCapitalService" class="org.amm.springremote.service.impl.StateCapitalServiceImpl" > 
		<property name="statesAndCapitals">
   			<map>  
		      <entry key="Alabama" value="Montgomery" />  
		      <entry key="Alaska" value="Juneau" />  
		      <entry key="Arizona" value="Phoenix" />  
		      <entry key="Arkansas" value="Little Rock" />  
		      <entry key="California" value="Sacramento" />  
		      <entry key="Colorado" value="Denver" />  
		      <entry key="Connecticut" value="Hartford" />  
			</map>  
		</property>
	</bean> 
  
</beans>  